* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  font-family: "Roboto", sans-serif;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 2.6rem;
}

li,
button,
label,
input,
p {
  font-size: 2rem;
}

h2 {
  font-size: 4.8rem;
}

h3 {
  font-size: 3rem;
  font-weight: normal;
}

h4,
h5 {
  font-size: 2.8rem;
}

a {
  color: rgba(255, 255, 255, 0.788);
  text-decoration: none;
}

.main-head {
  background: #283743;
  color: rgba(255, 255, 255, 0.788);
  position: sticky;
  top: 0px;
  z-index: 3;
}

.main-head h1 {
  flex: 2 1 30rem;
  font-family: "Montserrat", sans-serif;
}

nav {
  display: flex;
  width: 90%;
  margin: auto;
  padding: 2rem;
  min-height: 10vh;
  align-items: center;
  flex-wrap: wrap;
}

nav ul {
  display: flex;
  flex: 1 1 30rem;
  justify-content: space-around;
  align-items: center;
  min-width: 30rem;
  list-style: none;
}

nav ul li {
  font-size: 2.5rem;
}

.about {
  flex-direction: column;
  min-height: 80vh;
  color: rgba(255, 255, 255, 0.788);
  text-align: center;
  background: #283743;
}

.about h1 {
  line-height: 6rem;
  font-size: 3.5rem;
  margin-top: 10rem;
}

.events {
  min-height: 80vh;
  background: linear-gradient(#283743, transparent),
    url("/icons/1_OOWSoWHeQ5kyJ4N0P2ptNA.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  flex-direction: column;
  position: relative;
}

.events-head {
  background: linear-gradient(#283743, transparent);
  padding: 3rem;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgba(255, 255, 255, 0.788);
  text-align: center;
  background: #283743;
  padding: 5rem 10rem;
  margin-top: 15rem;
}

.events-head h3 {
  padding: 3rem;
}

.event-cards {
  width: 90%;
  margin: auto;
  display: flex;
  min-height: 70vh;
  align-items: center;
  flex-wrap: wrap;
  color: rgba(255, 255, 255, 0.788);
}

.card {
  text-align: center;
  flex: 1 1 25rem;
  min-height: 40vh;
  margin: 2rem 5rem;
  background: #283743;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1), 0px 20px 20px rgba(0, 0, 0, 0.1); /* x to 0 y to 10, blur 10 */
}

.card-icon {
  background: rgba(255, 255, 255, 0.788);
}

.event-cards img {
  max-width: 15%;
  margin: 2rem;
}

.event-cards h4,
p {
  padding: 1rem;
  line-height: 1.8; /* default */
}

@media screen and (max-width: 1015px) {
  html {
    font-size: 45%;
  }
  nav {
    text-align: center;
  }
}
